<%- include ../includes/header %>
<div class="container container-style">
<div class="col-md-11 col-md-offset-1" style="max-height: 800px; padding-top: 50px">
  <div class="row">
  	<div class="panel panel-default">
  		<div class="panel-heading">
	  	  <ul class="nav nav-tabs" role="tablist">
	  	  	<% if (view == 'categoriesCount') { %>
	  				<li role="presentation" id="categoriesCount" class="active"><a href="/active/view/categories/count">分类数量</a></li>
	  			<% } else { %>
	  				<li role="presentation" id="categoriesCount"><a href="/active/view/categories/count">分类数量</a></li>
	  			<% } %>
	  	  	<% if (view == 'categoriesClick') { %>
		  			<li role="presentation" id="categoriesClick" class="active"><a href="/active/view/categories/click">分类点击量</a></li>
	  			<% } else { %>
		  			<li role="presentation" id="categoriesClick"><a href="/active/view/categories/click">分类点击量</a></li>
	  			<% } %>
	  	  	<% if (view == 'categoriesAverageSource') { %>
	  				<li role="presentation" id="categoriesAverageSource" class="active"><a href="/active/view/categories/averagescore">类别平均评分</a></li>
	  			<% } else { %>
	  				<li role="presentation" id="categoriesAverageSource"><a href="/active/view/categories/averagescore">类别平均评分</a></li>
	  			<% } %>
		  	</ul>
		  </div>	
 			<div class="panel-body">
				<div id="active-view" class="view-windows"></div>
			</div>
  	</div>
  </div>
</div>
<script src="/js/view/categories-count.js"></script>
<%- include ../includes/footer %>