<%- include ../includes/header %>
<%- include ../includes/navpanel %>
	<div class="library_right" ng-if="showAdminWelcome">
  	<div class="container-fluid" id="admin-module">
			<div class="row library_title">
  			<% if (user) { %>
  				<h2>
  					Hi: <br>&nbsp;&nbsp&nbsp;&nbsp亲爱的管理员 <%= user.nickname %>，
  					<br>&nbsp;&nbsp&nbsp;&nbsp欢迎您!
  				</h2>
  			<% } %>
  		</div>
  	</div>
  </div>
<%- include ../includes/footer %>