<%- include ../includes/header %>
<div class="container container-style">
<div class="col-md-11 col-md-offset-1" style="max-height: 800px; padding-top: 50px">
  <div class="row">
  	<div class="panel panel-default">
  		<div class="panel panel-primary">
	  		<div class="panel-heading">
		  	  <h1>分年龄段展示评分</h1>
			  </div>
  		</div>
 			<div class="panel-body">
				<div id="active-view" class="view-windows"></div>
			</div>
  	</div>
  </div>
</div>
<script>
  var movie = <%- JSON.stringify(movie) %>;
  var movieTitle = '<%= title %>';
</script>
<script src="/js/movie-score-by-age.js"></script>
<%- include ../includes/footer %>
