<%- include ../includes/header %>
<%/*- include ../includes/navpanel */%>

<div class="library_right">
  <div class="container-fluid">
    <div class="row library_title">
      <div class="col-md-12 col-md-offset-1">
        <ul class="nav nav-tabs">
          <li ng-click="libState=0;" ng-class="{active:libState==0}" role="presentation">
            <a href="#">登录</a>
          </li>
          <li ng-click="libState=1;" ng-class="{active:libState==1}" role="presentation">
            <a href="#">注册</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1" >
			<div class="row">
				<form class="form-horizontal" action="/user/signin" method="POST">
					<% /* <div class="modal-header">登录</div> */ %>

					<div class="modal-body library_content">
						<div class="form-group">
							<label for="signinName" class="col-sm-3 control-label">用户名</label>
							<div class="col-sm-9">
								<input type="text" id="signinName" class="form-control" name="user[name]">
							</div>
						</div>
						<div class="form-group">
							<label for="signinPassword" class="col-sm-3 control-label">密码</label>
							<div class="col-sm-9">
								<input type="text" id="signinPassword" class="form-control" name="user[password]">
							</div>
						</div>
						<div class="form-group">
    					<div class="col-sm-offset-3 col-sm-9">
      					<div class="checkbox">
        					<label>
          					<input type="checkbox">记住密码
        					</label>
      					</div>
    				</div>
  				</div>
			
					<div class="modal-footer">
						<button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
						<button class="btn btn-success" type="submit">登录</button>
					</div>
				</form>
			</div>
		</div>
  </div>
</div>
<script src="/js/signin.js"></script>
<%- include ../includes/footer %>	


