<%- include ../includes/header %>
<div class="container container-style">
  <div class="col-md-9 col-md-offset-2">
  	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3>修改密码</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" id="updatePassForm" action="/update/user/password", method="post">
			  	<input type="hidden" name="user[name]" value="<%= user.name %>">
			  	
        	<div class="form-group">
        		<label for="originPassword" class="col-sm-3 control-label">原密码</label>
        		<div class="col-sm-7">
        			<input type="password" id="originPassword" class="form-control" name="user[password]" value="">
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="newPass" class="col-sm-3 control-label">新密码</label>
        		<div class="col-sm-7">
        			<input type="password" id="newPass" class="col-sm-3 form-control" name="user[newPass]">
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="confirmPass" class="col-sm-3 control-label">确认密码</label>
        		<div class="col-sm-7">
        			<input type="password" id="confirmPass" class="col-sm-3 form-control" name="user[confirmPass]">
        		</div>
        	</div>
        	<div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
              <button class="btn btn-default" type="reset">重置</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-success" type="submit">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>
<script src="/js/update-pass.js"></script>
<%- include ../includes/footer %>